@import 'theme/variables.scss';
.table-container.secondary {
  padding-top: 0;
  .ant-table {
    background: white;
    border-radius: 0;
    .ant-table-thead {
      tr {
        th {
          background: #f9f9f9;
        }
      }
    }
  }
}

.table-container {
  font-family: 'Open Sans' sans-serif;
  // border: 1px solid #ebebeb;
  // overflow: auto;
  .table-icon-wrapper {
    padding-right: 10px;
  }
  .ant-table {
    background: $white;
    color: $black;
    border-radius: 14px;
    .ant-table-placeholder {
      background-color: #f3f3f3 !important;
      &:hover {
        background-color: #ffffff !important;
      }
    }
    .ant-empty-normal {
      color: white !important;
    }
    .ant-table-thead {
      tr {
        th {
          background: white;
          color: #323a45;
          font-size: 12px;
          //border-bottom: 2px solid $border-primary;
          box-shadow: none;
          //border-top-left-radius: 14px !important;
          // border-top-right-radius: 14px !important;
          text-align: center;
        }
      }
    }
    tr {
      &:hover {
        td {
          // background: #575862;
          cursor: pointer;
          // .ant-tag {
          //   background-color: #575862 !important;
          // }
        }
      }
      td {
        border-bottom: 2px solid $border-primary;
        color: #323a45;
        font-size: 12px;
        // text-align: center;
        // border: 1px solid #ebebeb;
        .bg-black {
          background: $border-primary;
        }
        .priority-tag {
          padding: 8px;
          border-radius: 4px;
          min-width: 72px;
          display: inline-flex;
          justify-content: center;
        }
      }
      .ant-table-column-sort {
        background: transparent;
      }
    }
  }
}
